    <div id="startup_deatil">
        <div class="overlay">
            <div class="container">
                <div class="row scroll-me">
                </div>
            </div>
        </div>
        <div class="col-md-5 company_details">
            <img src="assets/img/logo_2.jpg">
            <h2 style="font-size: 32px;text-align:center;padding-left:0px;">TravelBird</h2>
            <h2><span class="map_span"></span>Amsterdam,Netherlands</h2>
            <h2><span class="establish_span"></span> Established in 2010</h2>
            <h2><span class="employees_span"></span>20-50 employees</h2>
            <h2><span class="web_span"></span>http://travelbird.com</h2>
        </div>
    </div>
    <!--HEADER SECTION END  -->
    <div class="container" style="width: 1300px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1default" data-toggle="tab">Overview</a></li>
                            <li><a href="#tab2default" data-toggle="tab">About</a></li>
                            <li><a href="#tab3default" data-toggle="tab">People</a></li>
                            <li><a href="#tab3default" data-toggle="tab">Jobs</a></li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <h2 style="color:#4AC5DE;">Product</h2>
                            <p>TravelBird is a rapidly expanding business in the field of holiday deals. Each day, TravelBird features the most competitively priced holidays online and caters to 18 European markets. The deals vary from sun holidays to theater tickets to wellness & spa treatments. This concept has proven to be popular and lucrative allowing a growth from 2 to over 450 employees in the past four years. Last April the famous Samwer brothers from Germany came on board as TravelBird’s first investors.</p>

                            <h2 style="  color: #4AC5DE;display: block;margin: 50px 0;">Founders</h2>
                            <div class="col-md-6 col-sm-6">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="assets/img/founder_1.jpg" alt="" class="img-circle" />
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading">Jordan Stone</h3>
                                    <p><strong>CEO</strong><br>
                                        Entrepreneur, Designer <br>
                                        Co-founder & CEO @Huckle</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="assets/img/founder_2.jpg" alt="" class="img-circle" />
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading">Gregory Hill</h3>
                                    <p><strong>CEO</strong><br>
                                        Entrepreneur, Designer <br>
                                        Co-founder & CEO @Huckle</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h2 style="  color: #4AC5DE;display: block;margin: 50px 0;">Investor</h2>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="media">
                                    <a class="media-left" href="#">
                                        <img src="assets/img/man_3.jpg" alt="" class="img-circle" />
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading">Jordan Stone</h3>
                                    <p style="  max-width: 366px;">I am an angel investor in over 60 startups, including Uber.com (first round). I have a $10m angel fund and host the largest startup conference in the world.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <h2 style="  color: #4AC5DE;display: block;margin: 50px 0;">Funding</h2>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                    <div class="media">
                                        <p>No Stage</p>
                                        <p style="  font-size: 35px;margin: 25px 0;color: #5c2b7f;">$25,000</p>
                                        <p>at a $500,000 valuation</p>
                                    </div>
                                </div>
                            </div>
                        <div class="tab-pane fade" id="tab3default">Default 3</div>
                        <div class="tab-pane fade" id="tab4default">Default 4</div>
                        <div class="tab-pane fade" id="tab5default">Default 5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  
